*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: rgb(69, 146, 188);
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    border: 1px solid black;
    padding: 100px;
    padding-top: 10px;
    
}

.container{
    height: 100%;
    position: relative;
    padding: 20px;
    padding-top: 5px;
    
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
   
}

.navbar p{
    position: relative;
    left: 5px;
    color: gray;
    text-decoration: underline;
}
.navbar input{
    position: relative;
    height: 30px;
    right: 5px;

}
.navbar h2{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}

hr{
     border: 1px solid rgb(218, 207, 207);
}

.main{
    position: relative;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.box{
    margin: 8px;
    padding: 12px;
    border: 4px solid rgb(194, 190, 190);
    width: 400px;
    height: 250px;
    border-radius: 8px;
    background-image: linear-gradient(to right,#B7F8DB , #50A7C2);
}

@media (max-width:500px) {

    .navbar p{
        opacity: 0;
    }
    .navbar input{
        opacity: 0;
    }
 
    .box{
        height: 300px;
    }
}



